<header class="main">

  <a href="#!/">
    <h2 class="app-title inline-block">Shark<span class="bold">Trap</span></h2>
    <img src="/images/shark-logo-sm.png" class="header-image" alt="shark logo" />
  </a>

  <span class="hover bold logout inline-block right margin-right">
    <a href="/logout" class="no-style">Logout</a>
  </span>

</header>

<section id="home" class="options">

  <div class="clearfix"></div>

  <a href="#!/download-song">
    <article class="songs opacity-bg hover">
      <span class="explanation text-center">
        <p>
          Download
          <br>
          Songs
        </p>
      </span>
    </article>
  </a>

  <a href="#!/download-playlist">
    <article class="playlist opacity-bg hover">
      <span class="explanation text-center">
        <p>
          Download
          <br>
          Playlists
        </p>
      </span>
    </article>
  </a>

  <a href="#!/playlists">
    <article class="my-playlist opacity-bg hover">
      <span class="explanation text-center">
        <p>
          Check My
          <br>
          Playlists
        </p>
      </span>
    </article>
  </a>

  <a href="#!/profile">
    <article class="profile opacity-bg hover">
      <span class="explanation text-center">
        <p>
          My
          <br>
          Profile
        </p>
      </span>
    </article>
  </a>

</section>

<section id="download-song" class="hidden text-center">

  <div class="clearfix"></div>

  <div class="clearfix"></div>

  <article class="song">

    <h2 class="margin-bottom margin-top title">Download Song</h2>

    <form>

      <p>
        <input type="text" value="" placeholder="Song name" novalidate>
      </p>

      <p>
        <input type="text" value="" placeholder="Group" novalidate>
      </p>

      <p>
        <input data-action="download" class="hover margin-top" type="button" value="Download!" novalidate>
      </p>

      <p class="hover text-center">
        <span class="white fontawesome-arrow-left"></span>
        <a class="no-style" href="#!/">Go to home</a>
      </p>

    </form>

  </article>

</section>

<img class="logo-bottom" src="/images/shark-logo-bottom.png" alt="logo" />
