<header class="main">

  <h2 class="app-title inline-block">Shark<span class="bold">Trap</span></h2>

  <img src="/images/shark-logo.png" class="header-image" alt="shark logo" />

  <span class="hover bold logout inline-block right margin-right">Logout</span>

</header>

<section class="options">

  <div class="clearfix"></div>

  <article class="songs inline-block opacity-bg hover">

  </article>

  <article class="playlist inline-block opacity-bg hover">

  </article>

  <article class="playlist inline-block opacity-bg hover">

  </article>

  <article class="config inline-block opacity-bg hover">

  </article>

</section>
