<header class="main">

  <h2 class="app-title inline-block">Shark<span class="bold">Trap</span></h2>

  <img src="/images/shark-logo.png" class="header-image" alt="shark logo" />

  <span class="hover bold logout inline-block right margin-right">
    <a href="/logout" class="no-style">Logout</a>
  </span>

</header>

<section class="options">

  <div class="clearfix"></div>

  <article class="songs  opacity-bg hover">
    <span class="explanation text-center">
      <p>
        Download
        <br>
        Songs
      </p>
    </span>
  </article>

  <article class="playlist  opacity-bg hover">
    <span class="explanation text-center">
      <p>
        Download
        <br>
        Playlists
      </p>
    </span>
  </article>

  <article class="my-playlist  opacity-bg hover">
    <span class="explanation text-center">
      <p>
        Check My
        <br>
        Playlists
      </p>
    </span>
  </article>

  <article class="config  opacity-bg hover">
    <span class="explanation text-center">
      <p>
        Profile
        <br>
        Configuration
      </p>
    </span>
  </article>

</section>
