<div class="container">

  <div id="homepage">

    <form action="javascript:void(0);">

      <fieldset data-control="login" class="clearfix">

        <p>
          <span class="big fontawesome-user"></span>
          <input type="email" value="" placeholder="email@email.com" novalidate>
        </p>
        <p>
          <span class="big fontawesome-lock"></span>
          <input type="password" value="" placeholder="Pa55WorD" novalidate>
        </p>
        <p>
          <input id="login" class="hover" type="button" value="Sign In" novalidate>
        </p>

        <p class="hover text-center" data-action="show-invitation-form">
          <a class="no-style" href="#!/invitation">Request an invitation</a>
          <span class="white fontawesome-arrow-right"></span>
        </p>

      </fieldset>

      <fieldset data-control="invitation" class="hidden clearfix">

        <p>
          <span class="big fontawesome-user"></span>
          <input type="email" value="" placeholder="email@email.com" novalidate>
        </p>
        <p>
          <input id="invitation" class="hover" type="button" value="Request invitation">
        </p>

        <p class="hover text-center" data-action="show-login-form">
          <span class="white fontawesome-arrow-left"></span>
          <a class="no-style" href="#!/login">Go to login</a>
        </p>

      </fieldset>

    </form>

  </div>

</div>
