<!DOCTYPE html>
<html>
  <head>
    <title>SharkTrap</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,700">
    <!--STYLES-->
    <link rel="stylesheet" href="/styles/fontawesome.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <link rel="stylesheet" href="/styles/application.css">
    <link rel="stylesheet" href="/styles/classes.css">
    <link rel="stylesheet" href="/styles/home.css">
    <!--STYLES END-->
  </head>

  <body>
    <%- body %>

    <!--SCRIPTS-->
    <script src="/js/dependencies/jquery.min.js"></script>
    <script src="/js/dependencies/underscore.min.js"></script>
    <script src="/js/dependencies/backbone.min.js"></script>
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/app/app.js"></script>
    <script src="/js/app/views/downloadPlaylist.js"></script>
    <script src="/js/app/views/downloadSong.js"></script>
    <script src="/js/app/views/home.js"></script>
    <script src="/js/app/views/invitationForm.js"></script>
    <script src="/js/app/views/loginForm.js"></script>
    <script src="/js/app/routes/router.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
