.hover {
  cursor: pointer;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.white {
  color: #FFF;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.right {
  float: right;
}

.margin-right {
  margin-right: 1em;
}

.margin-bottom {
  margin-bottom: 1em;
}

.margin-top {
  margin-top: 1em;
}

.opacity-bg {
  padding: .5em;
  background-color: rgba(255, 255, 255, .4);
}

.no-visibility {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.error-msg {
  color: #ea4c88;
  font-size: 1.1em;
  font-weight: bold;
}
